.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1.25rem;
}

.input-field label {
  font-size: 0.875rem;
  font-family: var(--font-body);
  color: white;

}

.input-field input {
  width: 100%;

  padding: 0.9rem 1rem;

  border: 1px solid #555;
  border-radius: 2rem;

  background: transparent;
  color: white;

  outline: none;
}

.input-field input::placeholder {
  color: #aaa;
  font-size: 0.75rem;
  font-family: var(--font-body);
}

.input-field input:focus {
  border-color: white;
}