.password-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.password-input-wrapper {
  position: relative;  
}

.password-field label {
  font-size: 0.875rem;
  font-family: var(--font-body);
  color: white;
}

.password-input-wrapper input {
  width: 100%;

  padding: 0.9rem 3rem 0.9rem 1rem;

  border: 1px solid #555;
  border-radius: 2rem;

  background: transparent;
  outline: none;
  color: white;
  
  font-family: var(--font-body);
  font-size: 0.75rem;
}

.password-input-wrapper input::placeholder {
  color: #aaa;
  font-size: 0.75rem;
  font-family: var(--font-body);
}

.password-input-wrapper button {
  position: absolute;

  right: 1rem;
  top: 50%;

  transform: translateY(-50%);

  background: none;
  border: none;
  color: white;

  cursor: pointer;
}
